* {
  box-sizing: border-box;
  outline: 0;
  &::before,
  &::after {
    box-sizing: border-box;
    outline: 0;
  }
}

html, body {
  height: 100%;
  line-height: 1.25;
}

main {
  .footer--complete & {
    min-height: calc(100% - 472px); // header height + footer height
  }
  .footer--simple & {
    min-height: calc(100% - 100px); // header height + footer height
  }
}

a, button {
  text-decoration: none;
  @media screen and (min-width: 1024px) {
    transition: color 0.3s, background 0.3s, border-color 0.3s;
  }
}

img {
  display: block;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

.sr-only {
  position: absolute !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
}
