@import "mixins/breakpoint";
@import "mixins/container";
@import "mixins/grid";
@import "mixins/utilities";

@mixin list($margin, $padding, $style) {
  margin: $margin;
  padding: $padding;
  list-style: $style;
}

@mixin beforeafter($content, $display) {
  content: $content;
  display: $display;
}

@mixin clear() {
  @include beforeafter('', table);
  clear: both;
}

@mixin lineclamp($line) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

%typo-margin {
  margin-top: 1em;
  margin-bottom: 1em;
}

@mixin typo-weight {
  font-weight: 600;
  @include media-breakpoint-up(sm) {
      font-weight: 500;
  }
}

@mixin body-weight {
  font-weight: 400;
  @include media-breakpoint-up(sm) {
      font-weight: 300;
  }
}

%typo-weight {
  font-weight: 600;
  @include media-breakpoint-up(sm) {
      font-weight: 500;
  }
}
