//
$enable-grid-classes:         true !default;
$enable-important-utilities:  true !default;

// 欄位設定
$grid-columns:        4 !default;
$grid-gutter-width:   2.5rem !default;
$container-padding-x: $grid-gutter-width * .5 !default;

// breakpoint
$grid-breakpoints: (
  '': 0px,
  xs: 414px,
  sm: 768px,
  md: 1024px,
  lg: 1280px,
  xl: 1440px,
) !default;

// breakpoint 內，內文寬度
$container-max-widths: (
  xs: 100%,
  sm: 100%,
  md: 960px,
  lg: 1200px,
  xl: 1200px
) !default;

// 間距設定
$spacer:  0.0625rem; //1px
$spacers: (
  "0":  $spacer * 0,
  "10": $spacer * 10,
  "15": $spacer * 15,
  "20": $spacer * 20,
  "30": $spacer * 30,
  "auto": auto,
);

// ---------------------------------------------------------

// header text 設定
$h1:    $spacer * 32; //32px
$h2:    $spacer * 22; //22px
$h3:    $spacer * 18; //18px
$h4:    $spacer * 16; //16px
$h5:    $spacer * 14; //14px
$h6:    $spacer * 12; //12px

$h1-m:  $spacer * 28; //28px
$h2-m:  $spacer * 20; //20px
$h3-m:  $spacer * 18; //18px
$h4-m:  $spacer * 16; //16px
$h5-m:  $spacer * 14; //14px
$h6-m:  $spacer * 12; //12px

// ---------------------------------------------------------

// 藍色色碼
$blue:             #003a9f !default;

// 灰色階色碼
$gray-100:         #EEEEEE !default;
$gray-200:         #D3D5D7 !default;
$gray-300:         #939EA7 !default; //secondary
$gray-400:         #6B7780 !default;
$gray-500:         #48545D !default; //secondary-variant
$gray-600:         #394148 !default; //dark

// 紅色階色碼
$red-100:         #FEEBEC !default;
$red-200:         #EE969B !default;
$red-300:         #D60C18 !default; //primary
$red-400:         #BE0B15 !default;
$red-500:         #9D0505 !default; //primary-variant

// 無彩色色碼
$white:           #ffffff !default; //background
$gray:            #fafafa !default;
$black:           #171717 !default;
$dark:              $gray-600 !default;

// 語易化色碼
$surface:           $blue;
$primary:           $red-300 !default;
$primary-variant:   $red-500 !default;
$secondary:         $gray-300 !default;
$secondary-variant: $gray-500 !default;
$error:             $primary-variant !default;
$background:        $white !default;
$text:              $black !default;

// 社群軟體色碼
$facebook:        #1877f2 !default;
$google:          #EA4335 !default;
$line:            #00c200 !default;
$instagram:       #dd2a7b !default;
$weibo:           #e6162d !default;
$rss:             #ff5700 !default;
$twitter:         #00acee !default;
$whatapp:         #4fce5d !default;
$mail:              $surface !default;

// 灰色階色碼 map
$grays: () !default;
$grays: map-merge((
  "100": ($gray, $black),
  "200": ($gray-100, $black),
  "300": ($gray-200, $black),
  "400": ($gray-300, $white),
  "500": ($gray-500, $white)
), $grays);

// 紅色階色碼 map
$reds: () !default;
$reds: map-merge((
  "100": ($red-100, $black),
  "200": ($red-200, $black),
  "300": ($red-300, $white),
  "400": ($red-400, $white),
  "500": ($red-500, $white)
), $reds);

// 無彩色色碼 map
$bks: () !default;
$bks: map-merge((
  "white": ($white, $black, $gray-200),
  "black": ($black, $white, $black)
), $bks);

// 語易化色碼 map
$cw-colors: () !default;
$cw-colors: map-merge((
  "surface":            ($surface,            $white),
  "primary":            ($primary,            $white),
  "primary-variant":    ($primary-variant,    $white),
  "secondary":          ($secondary,          $white),
  "secondary-variant":  ($secondary-variant,  $white),
  "error":              ($error,              $white),
  "background":         ($background,         $white)
), $cw-colors);

// ---------------------------------------------------------

$icomoon-font-family:       "cw_icon" !default;
$icomoon-font-path:         "../fonts" !default;

$icon-search:               "\e917";
$icon-check-circle:         "\e90d";
$icon-exclamation-circle:   "\e90f";
$icon-question-circle:      "\e90e";
$icon-check-solid:          "\e92a";
$icon-exclamation-solid:    "\e93a";
$icon-error-solid:          "\e935";
$icon-eyeoff:               "\e90b";
$icon-eyeon:                "\e90c";
$icon-sort:                 "\e910";
$icon-caret-down:           "\e911";
$icon-caret-up:             "\e912";
$icon-caret-right:          "\e927";
$icon-caret-left:           "\e928";
$icon-left:                 "\e91e";
$icon-right:                "\e91f";
$icon-down:                 "\e920";
$icon-up:                   "\e922";
$icon-arrow-right:          "\e933";
$icon-arrow-left:           "\e934";
$icon-check:                "\e929";
$icon-cancel:               "\e92e";
$icon-minus:                "\e938";
$icon-plus:                 "\e939";
$icon-facebook:             "\e91a";
$icon-fb:                   "\e91a";
$icon-instagram:            "\e91b";
$icon-line:                 "\e91c";
$icon-twitter:              "\e900";
$icon-rss:                  "\e921";
$icon-apple:                "\e901";
$icon-security:             "\e944";
$icon-pushpin:              "\e945";
$icon-pen:                  "\e904";
$icon-mailing:              "\e903";
$icon-link:                 "\e902";
$icon-bookmark-filled:      "\e932";
$icon-bookmark-outlined:    "\e923";
$icon-mail-filled:          "\e947";
$icon-mail:                 "\e925";
$icon-coin:                 "\e92f";
$icon-fontsize:             "\e930";
$icon-download-pdf:         "\e949";
$icon-zoom:                 "\e94a";
$icon-note:                 "\e94b";
$icon-volume:               "\e94c";
$icon-play-solid:           "\e94d";
$icon-headphones:           "\e94e";
$icon-pause-solid:          "\e94f";
$icon-user-filled:          "\e918";
$icon-user-outlined:        "\e919";
$icon-play:                 "\e91d";
$icon-lock:                 "\e936";
$icon-download:             "\e937";
$icon-internet:             "\e93b";
$icon-member-notification:  "\e93c";
$icon-member-download:      "\e93d";
$icon-member-invite:        "\e93e";
$icon-member-lecture:       "\e93f";
$icon-benefits:             "\e940";
$icon-coupon:               "\e941";
$icon-gift:                 "\e942";
$icon-member-only:          "\e943";
