//
$enable-grid-classes:         true !default;
$enable-important-utilities:  true !default;

$grid-columns:                4 !default;
$grid-gutter-width:           2.5rem !default;
$container-padding-x:         $grid-gutter-width * .5 !default;

$grid-breakpoints: (
  '': 0px,
  xs: 414px,
  sm: 768px,
  md: 1024px,
  lg: 1280px,
  xl: 1440px,
) !default;

$container-max-widths: (
  xs: 100%,
  sm: 100%,
  md: 960px,
  lg: 1170px,
  xl: 1300px
) !default;

$spacer:                      0.0625rem; //1px
$spacers: (
  "0": 0px,
  "10": 10px,
  "15": 15px,
  "20": 20px,
  "30": 30px,
  "auto": auto,
);

//
$h1:                          $spacer*32; //32px
$h2:                          $spacer*22; //22px
$h3:                          $spacer*18; //18px
$h4:                          $spacer*16; //16px
$h5:                          $spacer*14; //14px

//
$h1-m:                        $spacer*28; //28px
$h2-m:                        $spacer*20; //20px
$h3-m:                        $spacer*18; //18px
$h4-m:                        $spacer*16; //16px
$h5-m:                        $spacer*14; //14px

$gray-100:                  #EEEEEE !default;
$gray-200:                  #D3D5D7 !default;
$gray-300:                  #939EA7 !default; //secondary
$gray-400:                  #6B7780 !default;
$gray-500:                  #48545D !default; //secondary-variant

//
$red-100:                   #FEEBEC !default;
$red-200:                   #EE969B !default;
$red-300:                   #D60C18 !default; //primary
$red-400:                   #BE0B15 !default;
$red-500:                   #9D0505 !default; //primary-variant

//
$white:                     #ffffff !default; //background
$gray:                      #fafafa !default;
$black:                     #171717 !default;
$dark:                      #394148 !default;

//
$facebook:                  #1877f2 !default;
$line:                      #00c200 !default;
$instagram:                 #dd2a7b !default;
$weibo:                     #e6162d !default;
$rss:                       #ff5700 !default;
$twitter:                   #00acee !default;
$whatapp:                   #4fce5d !default;
