@charset "UTF-8";
.container,
.container-fluid,
.container-xs,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 414px) {
  .container, .container-xs {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container, .container-xs, .container-sm {
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .container, .container-xs, .container-sm, .container-md {
    max-width: 960px;
  }
}

@media (min-width: 1280px) {
  .container, .container-xs, .container-sm, .container-md, .container-lg {
    max-width: 1200px;
  }
}

@media (min-width: 1440px) {
  .container, .container-xs, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1200px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0;
  margin-right: -1.25rem;
  margin-left: -1.25rem;
}

.row > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  margin-top: 0;
}

.col {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
}

.col-auto {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
}

.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 8.33333%;
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 16.66667%;
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 33.33333%;
}

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 41.66667%;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 58.33333%;
}

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 66.66667%;
}

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 83.33333%;
}

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 91.66667%;
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 414px) {
  .col-xs {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
  }
  .col-xs-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
  }
  .col-xs-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 8.33333%;
  }
  .col-xs-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16.66667%;
  }
  .col-xs-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .col-xs-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.33333%;
  }
  .col-xs-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 41.66667%;
  }
  .col-xs-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .col-xs-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.33333%;
  }
  .col-xs-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 66.66667%;
  }
  .col-xs-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%;
  }
  .col-xs-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 83.33333%;
  }
  .col-xs-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 91.66667%;
  }
  .col-xs-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .col-sm {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
  }
  .col-sm-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
  }
  .col-sm-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 8.33333%;
  }
  .col-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16.66667%;
  }
  .col-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.33333%;
  }
  .col-sm-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 41.66667%;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.33333%;
  }
  .col-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 66.66667%;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 83.33333%;
  }
  .col-sm-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 91.66667%;
  }
  .col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .col-md {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
  }
  .col-md-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
  }
  .col-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 8.33333%;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16.66667%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.33333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 41.66667%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.33333%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 66.66667%;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 83.33333%;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 91.66667%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .col-lg {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
  }
  .col-lg-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
  }
  .col-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 8.33333%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16.66667%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.33333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 41.66667%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.33333%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 66.66667%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 83.33333%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 91.66667%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .col-xl {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
  }
  .col-xl-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
  }
  .col-xl-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 8.33333%;
  }
  .col-xl-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16.66667%;
  }
  .col-xl-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.33333%;
  }
  .col-xl-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 41.66667%;
  }
  .col-xl-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.33333%;
  }
  .col-xl-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 66.66667%;
  }
  .col-xl-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 83.33333%;
  }
  .col-xl-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 91.66667%;
  }
  .col-xl-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
}

.bg-red-100 {
  color: #171717;
  background-color: #FEEBEC;
}

.bg-red-200 {
  color: #171717;
  background-color: #EE969B;
}

.bg-red-300 {
  color: #ffffff;
  background-color: #D60C18;
}

.bg-red-400 {
  color: #ffffff;
  background-color: #BE0B15;
}

.bg-red-500 {
  color: #ffffff;
  background-color: #9D0505;
}

.bg-gray-100 {
  color: #171717;
  background-color: #fafafa;
}

.bg-gray-200 {
  color: #171717;
  background-color: #EEEEEE;
}

.bg-gray-300 {
  color: #171717;
  background-color: #D3D5D7;
}

.bg-gray-400 {
  color: #ffffff;
  background-color: #939EA7;
}

.bg-gray-500 {
  color: #ffffff;
  background-color: #48545D;
}

.text-surface {
  color: #003a9f;
}

.bg-surface {
  color: #ffffff;
  background-color: #003a9f;
}

.text-primary {
  color: #D60C18;
}

.bg-primary {
  color: #ffffff;
  background-color: #D60C18;
}

.text-primary-variant {
  color: #9D0505;
}

.bg-primary-variant {
  color: #ffffff;
  background-color: #9D0505;
}

.text-secondary {
  color: #939EA7;
}

.bg-secondary {
  color: #ffffff;
  background-color: #939EA7;
}

.text-secondary-variant {
  color: #48545D;
}

.bg-secondary-variant {
  color: #ffffff;
  background-color: #48545D;
}

.text-error {
  color: #9D0505;
}

.bg-error {
  color: #ffffff;
  background-color: #9D0505;
}

.text-background {
  color: #fafafa;
}

.bg-background {
  color: #171717;
  background-color: #fafafa;
}

.bg-brand-red-100 {
  color: #171717;
  background-color: #F5CEB9;
}

.bg-brand-red-200 {
  color: #171717;
  background-color: #EA9875;
}

.bg-brand-red-300 {
  color: #171717;
  background-color: #E05F3C;
}

.bg-brand-red-400 {
  color: #ffffff;
  background-color: #D60C18;
}

.bg-brand-red-500 {
  color: #ffffff;
  background-color: #9D0505;
}

.bg-brand-gray-100 {
  color: #171717;
  background-color: #FFFFFF;
}

.bg-brand-gray-200 {
  color: #171717;
  background-color: #E3E6E9;
}

.bg-brand-gray-300 {
  color: #171717;
  background-color: #C9CED3;
}

.bg-brand-gray-400 {
  color: #171717;
  background-color: #AEB6BD;
}

.bg-brand-gray-500 {
  color: #ffffff;
  background-color: #939EA7;
}

.bg-brand-gray-600 {
  color: #ffffff;
  background-color: #48545D;
}

.bg-mkt-blue-100 {
  color: #171717;
  background-color: #D3ECF3;
}

.bg-mkt-blue-200 {
  color: #171717;
  background-color: #A0D7E6;
}

.bg-mkt-blue-300 {
  color: #171717;
  background-color: #5BC2D8;
}

.bg-mkt-blue-400 {
  color: #ffffff;
  background-color: #00AECC;
}

.bg-mkt-blue-500 {
  color: #ffffff;
  background-color: #00859C;
}

.bg-mkt-natural-100 {
  color: #171717;
  background-color: #F1E9D5;
}

.bg-mkt-natural-200 {
  color: #171717;
  background-color: #E2D3AA;
}

.bg-mkt-natural-300 {
  color: #171717;
  background-color: #D4BD7F;
}

.bg-mkt-natural-400 {
  color: #ffffff;
  background-color: #C7A956;
}

.bg-mkt-natural-500 {
  color: #ffffff;
  background-color: #9F8743;
}

.bg-mkt-yellow-100 {
  color: #171717;
  background-color: #FFF798;
}

.bg-mkt-yellow-200 {
  color: #171717;
  background-color: #FFF000;
}

.bg-mkt-yellow-300 {
  color: #171717;
  background-color: #F7B749;
}

.bg-cwef-winter-100 {
  color: #171717;
  background-color: #5CB8E8;
}

.bg-cwef-winter-200 {
  color: #ffffff;
  background-color: #0C3287;
}

.bg-cwef-summer-100 {
  color: #171717;
  background-color: #00A0E9;
}

.bg-cwef-summer-200 {
  color: #171717;
  background-color: #FFF000;
}

.bg-news-now-100 {
  color: #171717;
  background-color: #F5CEB9;
}

.bg-news-now-200 {
  color: #171717;
  background-color: #EA9875;
}

.bg-news-now-300 {
  color: #171717;
  background-color: #E05F3C;
}

.bg-news-now-400 {
  color: #ffffff;
  background-color: #D60C18;
}

.bg-news-now-500 {
  color: #ffffff;
  background-color: #9D0505;
}

.bg-news-business-100 {
  color: #171717;
  background-color: #DBE5CA;
}

.bg-news-business-200 {
  color: #171717;
  background-color: #B4CA92;
}

.bg-news-business-300 {
  color: #171717;
  background-color: #88B05D;
}

.bg-news-business-400 {
  color: #ffffff;
  background-color: #539A34;
}

.bg-news-business-500 {
  color: #ffffff;
  background-color: #3C7523;
}

.bg-news-economic-100 {
  color: #171717;
  background-color: #FAEBC9;
}

.bg-news-economic-200 {
  color: #171717;
  background-color: #F3D68D;
}

.bg-news-economic-300 {
  color: #171717;
  background-color: #EDC24E;
}

.bg-news-economic-400 {
  color: #ffffff;
  background-color: #E7AF00;
}

.bg-news-economic-500 {
  color: #ffffff;
  background-color: #B98700;
}

.bg-news-people-100 {
  color: #171717;
  background-color: #CCD7ED;
}

.bg-news-people-200 {
  color: #171717;
  background-color: #96AFDB;
}

.bg-news-people-300 {
  color: #171717;
  background-color: #578AC8;
}

.bg-news-people-400 {
  color: #ffffff;
  background-color: #006CB7;
}

.bg-news-people-500 {
  color: #ffffff;
  background-color: #00508C;
}

.bg-news-policy-100 {
  color: #171717;
  background-color: #E1D2E7;
}

.bg-news-policy-200 {
  color: #171717;
  background-color: #C5A3CB;
}

.bg-news-policy-300 {
  color: #171717;
  background-color: #AB75B0;
}

.bg-news-policy-400 {
  color: #ffffff;
  background-color: #914897;
}

.bg-news-policy-500 {
  color: #ffffff;
  background-color: #6E3173;
}

.bg-news-strait-100 {
  color: #171717;
  background-color: #DAEEEA;
}

.bg-news-strait-200 {
  color: #171717;
  background-color: #B0DBD4;
}

.bg-news-strait-300 {
  color: #171717;
  background-color: #7CC8BE;
}

.bg-news-strait-400 {
  color: #ffffff;
  background-color: #2EB6A9;
}

.bg-news-strait-500 {
  color: #ffffff;
  background-color: #1A8A81;
}

.bg-news-manage-100 {
  color: #171717;
  background-color: #D3ECFB;
}

.bg-news-manage-200 {
  color: #171717;
  background-color: #9ED8F6;
}

.bg-news-manage-300 {
  color: #171717;
  background-color: #54C2F1;
}

.bg-news-manage-400 {
  color: #ffffff;
  background-color: #00AFEC;
}

.bg-news-manage-500 {
  color: #ffffff;
  background-color: #007FAA;
}

.bg-news-health-100 {
  color: #171717;
  background-color: #ECF3CF;
}

.bg-news-health-200 {
  color: #171717;
  background-color: #D7E598;
}

.bg-news-health-300 {
  color: #171717;
  background-color: #C2D95B;
}

.bg-news-health-400 {
  color: #ffffff;
  background-color: #AACD03;
}

.bg-news-health-500 {
  color: #ffffff;
  background-color: #7F9B00;
}

.bg-news-off-100 {
  color: #171717;
  background-color: #F5ECD6;
}

.bg-news-off-200 {
  color: #171717;
  background-color: #E9D8AB;
}

.bg-news-off-300 {
  color: #171717;
  background-color: #DDC481;
}

.bg-news-off-400 {
  color: #ffffff;
  background-color: #D2B157;
}

.bg-news-off-500 {
  color: #ffffff;
  background-color: #B29749;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

header .container a.channel {
  color: #D60C18;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  font-weight: normal;
}

header .container a.channel:hover {
  color: #9D0505;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main > .container {
  position: relative;
}

.article-page main > .container::before {
  content: "";
  display: block;
  position: absolute;
  right: 100%;
  width: 50%;
  height: 100%;
  background-color: #fafafa;
}

main > .container > .row {
  min-height: 100%;
}

.index-page main > .container > .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.index-page main > .container > .row .col-md-6 a {
  position: relative;
}

.index-page main > .container > .row .col-md-6 a img.hover {
  position: absolute;
  top: 20px;
  left: 50%;
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.index-page main > .container > .row .col-md-6 a:hover img.hover {
  opacity: 1;
}

.index-page main > .container > .row .col-md-6 a:hover .item-title b {
  border-bottom-color: #171717;
}

.index-page main > .container > .row .item-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.index-page main > .container > .row .item-title b {
  border: solid transparent;
  border-width: 1px 0;
}

@media (min-width: 1024px) {
  main > .container > .row > article {
    max-width: calc(100% - 285px);
  }
}

@media (min-width: 1024px) {
  main > .container > .row > article > section {
    padding-left: 100px;
  }
}

main > .container > .row > article > section:first-child {
  padding-top: 40px;
  padding-bottom: 40px;
}

main > .container > .row > article > section:first-child > *:last-child {
  margin-bottom: 0;
}

main > .container > .row > article > section:last-child {
  padding-bottom: 40px;
}

article p, article ul, article ol {
  margin-top: 20px;
  margin-bottom: 20px;
}

article ul, article ol {
  padding-left: 1.4rem;
}

article ul .row, article ol .row {
  margin-left: -2.65rem;
}

article ul .row.row-board, article ol .row.row-board {
  margin-left: -2.3375rem;
}

article ul .row.row-board > *, article ol .row.row-board > * {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

article ul {
  list-style: disc;
}

article ul li::marker {
  color: #D60C18;
  font-size: 0.75rem;
}

article h5.row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  width: 100%;
  background-color: #fafafa;
}

aside ul {
  margin: 0;
  list-style: none;
}

aside ul.ul--slide > li > a,
aside ul.ul--slide > li > span {
  cursor: pointer;
}

aside ul.ul--slide > li > a::before,
aside ul.ul--slide > li > span::before {
  content: "";
  display: block;
  margin-right: 10px;
  font-family: "cw_icon";
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: scale(0.784);
          transform: scale(0.784);
}

aside ul.ul--slide > li.opened > a::before,
aside ul.ul--slide > li.opened > span::before {
  -webkit-transform: scale(0.784) rotate(90deg);
          transform: scale(0.784) rotate(90deg);
}

aside ul.ul--slide > li.opened > ul {
  display: block;
}

aside > ul {
  padding-left: 0;
  width: 100%;
}

@media (min-width: 1024px) {
  aside > ul {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    left: 0;
    min-width: 245px !important;
  }
}

aside > ul ul {
  display: none;
  width: 100%;
}

aside > ul a, aside > ul span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px 10px;
  color: #171717;
  font-size: 0.875rem;
}

aside > ul a:hover, aside > ul span:hover {
  background-color: #EEEEEE;
}

aside > ul a.active, aside > ul span.active {
  color: #D60C18;
}

.tab .tab__nav--page {
  border-width: 0 0 1px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -20px;
  margin-right: -20px;
  border-bottom: 1px solid #D3D5D7;
}

@media (min-width: 1024px) {
  .tab .tab__nav--page {
    padding-left: 120px;
    padding-right: calc((100vw - 1160px) / 2);
    margin-left: -120px;
    margin-right: calc((100vw - 1160px) / 2 * -1);
  }
}

.tab .tab__nav--page ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1024px) {
  .tab .tab__nav--page ul li {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 150px;
  }
}

.tab .tab__nav--page ul li svg {
  width: 1rem;
  height: auto;
  margin-right: 10px;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}

.tab .tab__nav--page ul li:hover svg, .tab .tab__nav--page ul li.active svg {
  fill: #D60C18;
}

.tab .tab__content {
  border-width: 0;
}

.tab .tab__content .tab__content__pane {
  padding-left: 0;
  padding-right: 0;
}

.col--interactive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #EEEEEE;
}

.col--interactive > div {
  width: 100%;
}

.col--interactive .tab {
  max-width: 570px;
  border-right: 1px solid #EEEEEE;
}

.col--interactive .tab .tab__nav {
  border-bottom: 1px solid #EEEEEE;
}

@media (min-width: 1024px) {
  .col--interactive .tab .tab__nav ul li {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 150px;
  }
}

.col--interactive .tab .tab__content__pane {
  min-height: 260px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col--interactive .tab .tab__content__pane.active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.col--interactive .tab .form__group {
  width: 230px;
}

.col--interactive .configuration {
  max-width: calc(100% - 570px);
}

.col--interactive .configuration .config__title {
  padding: 0 20px;
  font-size: 1rem;
  line-height: 3.1875;
  border-bottom: 3px solid transparent;
}

.col--interactive .configuration .config__content {
  border-top: 1px solid #EEEEEE;
}

.configuration .config__content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.configuration .config__content ul li {
  margin-top: 10px;
}

.dont {
  padding-bottom: 10px;
  color: #D60C18;
  border-bottom: 2px solid #D60C18;
}

.table--scroll {
  overflow: scroll;
}

table {
  width: 100%;
  border: 1px solid #EEEEEE;
  border-collapse: collapse;
}

table th, table td {
  padding: 12px;
  vertical-align: top;
}

table th:first-child, table td:first-child {
  padding-left: 20px;
  padding-right: 20px;
}

table th + th, table th + td, table td + th, table td + td {
  border-left: 1px solid #EEEEEE;
}

table th {
  font-weight: 400;
  background-color: #fafafa;
}

@media (min-width: 768px) {
  table th {
    font-weight: 300;
  }
}

table tr + tr + tr td {
  border-top: 1px solid #EEEEEE;
}

table.table-btn td {
  height: 85px;
  vertical-align: middle;
}

table.table-select td {
  vertical-align: middle;
}

table.table-textfield th, table.table-textfield td {
  border-bottom: 1px solid #EEEEEE;
}

.col-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section img, .bg-background img {
  max-width: 100%;
}

.border-gray-100 {
  border: 1px solid #EEEEEE;
}

.border-gray-200 {
  border: 1px solid #D3D5D7;
}

.toggle__color {
  font-size: 0;
}

.toggle__color button {
  padding: 10px 25px;
  margin: 0;
  color: #48545D;
  font-size: 1rem;
  border: 1px solid #D3D5D7;
}

.toggle__color button.active {
  color: #ffffff;
  background-color: #48545D;
  border-color: #48545D;
}

.color-board {
  cursor: pointer;
}

@media (max-width: 1023px) {
  .color-board {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.btn__group {
  font-size: 0;
}

.btn__group .btn + .btn {
  margin-left: 15px;
}

.btn.btn--text.hover, .btn.btn--text.pressed {
  color: #9D0505;
}

.btn.btn--outlined.pressed::before, .btn.btn--contained.pressed::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  padding-top: 70%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.btn.btn--outlined.hover {
  color: #9D0505;
  border-color: #9D0505;
}

.btn.btn--outlined.pressed {
  color: #9D0505;
  border-color: #9D0505;
}

.btn.btn--outlined.pressed::before {
  background-color: #FEEBEC;
}

.btn.btn--contained.hover {
  background-color: #9D0505;
  border-color: #9D0505;
}

.btn.btn--contained.pressed {
  background-color: #9D0505;
  border-color: #9D0505;
}

.btn.btn--contained.pressed::before {
  background-color: #D60C18;
}

.row-icons .col-auto {
  width: calc(100% / 4);
  margin-bottom: 30px;
}

@media screen and (min-width: 360px) {
  .row-icons .col-auto {
    width: calc(100% / 5);
  }
}

@media (min-width: 768px) {
  .row-icons .col-auto {
    width: calc(100% / 7);
  }
}

@media (min-width: 1024px) {
  .row-icons .col-auto {
    width: calc(100% / 11);
  }
}

.row-icons .col-auto i.icon {
  display: block;
}

.download__group .item__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  height: 150px;
  margin-bottom: 20px;
}

.download__group .item__image img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.download__group .download__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 22px auto;
      grid-template-columns: 22px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  color: #171717;
}

.download__group .download__item span {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.download__group .download__item:hover {
  color: #D60C18;
}

.download__group .download__item:hover svg circle {
  stroke: #D60C18;
}

.download__group .download__item:hover svg path {
  fill: #D60C18;
  stroke: #D60C18;
}
/*# sourceMappingURL=system.css.map */