@charset "UTF-8";
.bg-red-100 {
  color: #171717;
  background-color: #FEEBEC;
}

.bg-red-200 {
  color: #171717;
  background-color: #EE969B;
}

.bg-red-300 {
  color: #ffffff;
  background-color: #D60C18;
}

.bg-red-400 {
  color: #ffffff;
  background-color: #BE0B15;
}

.bg-red-500 {
  color: #ffffff;
  background-color: #9D0505;
}

.bg-gray-100 {
  color: #171717;
  background-color: #fafafa;
}

.bg-gray-200 {
  color: #171717;
  background-color: #EEEEEE;
}

.bg-gray-300 {
  color: #171717;
  background-color: #D3D5D7;
}

.bg-gray-400 {
  color: #ffffff;
  background-color: #939EA7;
}

.bg-gray-500 {
  color: #ffffff;
  background-color: #48545D;
}

.bg-surface {
  color: #ffffff;
  background-color: #003a9f;
}

.bg-primary {
  color: #ffffff;
  background-color: #D60C18;
}

.bg-primary-variant {
  color: #ffffff;
  background-color: #9D0505;
}

.bg-secondary {
  color: #ffffff;
  background-color: #939EA7;
}

.bg-secondary-variant {
  color: #ffffff;
  background-color: #48545D;
}

.bg-error {
  color: #ffffff;
  background-color: #9D0505;
}

.bg-background {
  color: #ffffff;
  background-color: #ffffff;
}

.container,
.container-fluid,
.container-xs,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 414px) {
  .container, .container-xs {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container, .container-xs, .container-sm {
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .container, .container-xs, .container-sm, .container-md {
    max-width: 960px;
  }
}

@media (min-width: 1280px) {
  .container, .container-xs, .container-sm, .container-md, .container-lg {
    max-width: 1200px;
  }
}

@media (min-width: 1440px) {
  .container, .container-xs, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1200px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0;
  margin-right: -1.25rem;
  margin-left: -1.25rem;
}

.row > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  margin-top: 0;
}

.col {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
}

.col-auto {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
}

.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 25%;
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 50%;
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 75%;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 414px) {
  .col-xs {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
  }
  .col-xs-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
  }
  .col-xs-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .col-xs-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .col-xs-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%;
  }
  .col-xs-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .col-sm {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
  }
  .col-sm-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
  }
  .col-sm-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .col-md {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
  }
  .col-md-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
  }
  .col-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .col-lg {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
  }
  .col-lg-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
  }
  .col-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .col-xl {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
  }
  .col-xl-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
  }
  .col-xl-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
}

.m-0 {
  margin: 0rem !important;
}

.m-10 {
  margin: 0.625rem !important;
}

.m-15 {
  margin: 0.9375rem !important;
}

.m-20 {
  margin: 1.25rem !important;
}

.m-30 {
  margin: 1.875rem !important;
}

.m-auto {
  margin: auto !important;
}

.mx-0 {
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

.mx-10 {
  margin-right: 0.625rem !important;
  margin-left: 0.625rem !important;
}

.mx-15 {
  margin-right: 0.9375rem !important;
  margin-left: 0.9375rem !important;
}

.mx-20 {
  margin-right: 1.25rem !important;
  margin-left: 1.25rem !important;
}

.mx-30 {
  margin-right: 1.875rem !important;
  margin-left: 1.875rem !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.my-0 {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}

.my-10 {
  margin-top: 0.625rem !important;
  margin-bottom: 0.625rem !important;
}

.my-15 {
  margin-top: 0.9375rem !important;
  margin-bottom: 0.9375rem !important;
}

.my-20 {
  margin-top: 1.25rem !important;
  margin-bottom: 1.25rem !important;
}

.my-30 {
  margin-top: 1.875rem !important;
  margin-bottom: 1.875rem !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mt-0 {
  margin-top: 0rem !important;
}

.mt-10 {
  margin-top: 0.625rem !important;
}

.mt-15 {
  margin-top: 0.9375rem !important;
}

.mt-20 {
  margin-top: 1.25rem !important;
}

.mt-30 {
  margin-top: 1.875rem !important;
}

.mt-auto {
  margin-top: auto !important;
}

.me-0 {
  margin-right: 0rem !important;
}

.me-10 {
  margin-right: 0.625rem !important;
}

.me-15 {
  margin-right: 0.9375rem !important;
}

.me-20 {
  margin-right: 1.25rem !important;
}

.me-30 {
  margin-right: 1.875rem !important;
}

.me-auto {
  margin-right: auto !important;
}

.mb-0 {
  margin-bottom: 0rem !important;
}

.mb-10 {
  margin-bottom: 0.625rem !important;
}

.mb-15 {
  margin-bottom: 0.9375rem !important;
}

.mb-20 {
  margin-bottom: 1.25rem !important;
}

.mb-30 {
  margin-bottom: 1.875rem !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.ms-0 {
  margin-left: 0rem !important;
}

.ms-10 {
  margin-left: 0.625rem !important;
}

.ms-15 {
  margin-left: 0.9375rem !important;
}

.ms-20 {
  margin-left: 1.25rem !important;
}

.ms-30 {
  margin-left: 1.875rem !important;
}

.ms-auto {
  margin-left: auto !important;
}

.p-0 {
  padding: 0rem !important;
}

.p-10 {
  padding: 0.625rem !important;
}

.p-15 {
  padding: 0.9375rem !important;
}

.p-20 {
  padding: 1.25rem !important;
}

.p-30 {
  padding: 1.875rem !important;
}

.p-auto {
  padding: auto !important;
}

.px-0 {
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

.px-10 {
  padding-right: 0.625rem !important;
  padding-left: 0.625rem !important;
}

.px-15 {
  padding-right: 0.9375rem !important;
  padding-left: 0.9375rem !important;
}

.px-20 {
  padding-right: 1.25rem !important;
  padding-left: 1.25rem !important;
}

.px-30 {
  padding-right: 1.875rem !important;
  padding-left: 1.875rem !important;
}

.px-auto {
  padding-right: auto !important;
  padding-left: auto !important;
}

.py-0 {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.py-10 {
  padding-top: 0.625rem !important;
  padding-bottom: 0.625rem !important;
}

.py-15 {
  padding-top: 0.9375rem !important;
  padding-bottom: 0.9375rem !important;
}

.py-20 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
}

.py-30 {
  padding-top: 1.875rem !important;
  padding-bottom: 1.875rem !important;
}

.py-auto {
  padding-top: auto !important;
  padding-bottom: auto !important;
}

.pt-0 {
  padding-top: 0rem !important;
}

.pt-10 {
  padding-top: 0.625rem !important;
}

.pt-15 {
  padding-top: 0.9375rem !important;
}

.pt-20 {
  padding-top: 1.25rem !important;
}

.pt-30 {
  padding-top: 1.875rem !important;
}

.pt-auto {
  padding-top: auto !important;
}

.pe-0 {
  padding-right: 0rem !important;
}

.pe-10 {
  padding-right: 0.625rem !important;
}

.pe-15 {
  padding-right: 0.9375rem !important;
}

.pe-20 {
  padding-right: 1.25rem !important;
}

.pe-30 {
  padding-right: 1.875rem !important;
}

.pe-auto {
  padding-right: auto !important;
}

.pb-0 {
  padding-bottom: 0rem !important;
}

.pb-10 {
  padding-bottom: 0.625rem !important;
}

.pb-15 {
  padding-bottom: 0.9375rem !important;
}

.pb-20 {
  padding-bottom: 1.25rem !important;
}

.pb-30 {
  padding-bottom: 1.875rem !important;
}

.pb-auto {
  padding-bottom: auto !important;
}

.ps-0 {
  padding-left: 0rem !important;
}

.ps-10 {
  padding-left: 0.625rem !important;
}

.ps-15 {
  padding-left: 0.9375rem !important;
}

.ps-20 {
  padding-left: 1.25rem !important;
}

.ps-30 {
  padding-left: 1.875rem !important;
}

.ps-auto {
  padding-left: auto !important;
}

.text-start {
  text-align: left !important;
}

.text-end {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

@media (min-width: 414px) {
  .m-xs-0 {
    margin: 0rem !important;
  }
  .m-xs-10 {
    margin: 0.625rem !important;
  }
  .m-xs-15 {
    margin: 0.9375rem !important;
  }
  .m-xs-20 {
    margin: 1.25rem !important;
  }
  .m-xs-30 {
    margin: 1.875rem !important;
  }
  .m-xs-auto {
    margin: auto !important;
  }
  .mx-xs-0 {
    margin-right: 0rem !important;
    margin-left: 0rem !important;
  }
  .mx-xs-10 {
    margin-right: 0.625rem !important;
    margin-left: 0.625rem !important;
  }
  .mx-xs-15 {
    margin-right: 0.9375rem !important;
    margin-left: 0.9375rem !important;
  }
  .mx-xs-20 {
    margin-right: 1.25rem !important;
    margin-left: 1.25rem !important;
  }
  .mx-xs-30 {
    margin-right: 1.875rem !important;
    margin-left: 1.875rem !important;
  }
  .mx-xs-auto {
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .my-xs-0 {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
  }
  .my-xs-10 {
    margin-top: 0.625rem !important;
    margin-bottom: 0.625rem !important;
  }
  .my-xs-15 {
    margin-top: 0.9375rem !important;
    margin-bottom: 0.9375rem !important;
  }
  .my-xs-20 {
    margin-top: 1.25rem !important;
    margin-bottom: 1.25rem !important;
  }
  .my-xs-30 {
    margin-top: 1.875rem !important;
    margin-bottom: 1.875rem !important;
  }
  .my-xs-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
  .mt-xs-0 {
    margin-top: 0rem !important;
  }
  .mt-xs-10 {
    margin-top: 0.625rem !important;
  }
  .mt-xs-15 {
    margin-top: 0.9375rem !important;
  }
  .mt-xs-20 {
    margin-top: 1.25rem !important;
  }
  .mt-xs-30 {
    margin-top: 1.875rem !important;
  }
  .mt-xs-auto {
    margin-top: auto !important;
  }
  .me-xs-0 {
    margin-right: 0rem !important;
  }
  .me-xs-10 {
    margin-right: 0.625rem !important;
  }
  .me-xs-15 {
    margin-right: 0.9375rem !important;
  }
  .me-xs-20 {
    margin-right: 1.25rem !important;
  }
  .me-xs-30 {
    margin-right: 1.875rem !important;
  }
  .me-xs-auto {
    margin-right: auto !important;
  }
  .mb-xs-0 {
    margin-bottom: 0rem !important;
  }
  .mb-xs-10 {
    margin-bottom: 0.625rem !important;
  }
  .mb-xs-15 {
    margin-bottom: 0.9375rem !important;
  }
  .mb-xs-20 {
    margin-bottom: 1.25rem !important;
  }
  .mb-xs-30 {
    margin-bottom: 1.875rem !important;
  }
  .mb-xs-auto {
    margin-bottom: auto !important;
  }
  .ms-xs-0 {
    margin-left: 0rem !important;
  }
  .ms-xs-10 {
    margin-left: 0.625rem !important;
  }
  .ms-xs-15 {
    margin-left: 0.9375rem !important;
  }
  .ms-xs-20 {
    margin-left: 1.25rem !important;
  }
  .ms-xs-30 {
    margin-left: 1.875rem !important;
  }
  .ms-xs-auto {
    margin-left: auto !important;
  }
  .p-xs-0 {
    padding: 0rem !important;
  }
  .p-xs-10 {
    padding: 0.625rem !important;
  }
  .p-xs-15 {
    padding: 0.9375rem !important;
  }
  .p-xs-20 {
    padding: 1.25rem !important;
  }
  .p-xs-30 {
    padding: 1.875rem !important;
  }
  .p-xs-auto {
    padding: auto !important;
  }
  .px-xs-0 {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }
  .px-xs-10 {
    padding-right: 0.625rem !important;
    padding-left: 0.625rem !important;
  }
  .px-xs-15 {
    padding-right: 0.9375rem !important;
    padding-left: 0.9375rem !important;
  }
  .px-xs-20 {
    padding-right: 1.25rem !important;
    padding-left: 1.25rem !important;
  }
  .px-xs-30 {
    padding-right: 1.875rem !important;
    padding-left: 1.875rem !important;
  }
  .px-xs-auto {
    padding-right: auto !important;
    padding-left: auto !important;
  }
  .py-xs-0 {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }
  .py-xs-10 {
    padding-top: 0.625rem !important;
    padding-bottom: 0.625rem !important;
  }
  .py-xs-15 {
    padding-top: 0.9375rem !important;
    padding-bottom: 0.9375rem !important;
  }
  .py-xs-20 {
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
  }
  .py-xs-30 {
    padding-top: 1.875rem !important;
    padding-bottom: 1.875rem !important;
  }
  .py-xs-auto {
    padding-top: auto !important;
    padding-bottom: auto !important;
  }
  .pt-xs-0 {
    padding-top: 0rem !important;
  }
  .pt-xs-10 {
    padding-top: 0.625rem !important;
  }
  .pt-xs-15 {
    padding-top: 0.9375rem !important;
  }
  .pt-xs-20 {
    padding-top: 1.25rem !important;
  }
  .pt-xs-30 {
    padding-top: 1.875rem !important;
  }
  .pt-xs-auto {
    padding-top: auto !important;
  }
  .pe-xs-0 {
    padding-right: 0rem !important;
  }
  .pe-xs-10 {
    padding-right: 0.625rem !important;
  }
  .pe-xs-15 {
    padding-right: 0.9375rem !important;
  }
  .pe-xs-20 {
    padding-right: 1.25rem !important;
  }
  .pe-xs-30 {
    padding-right: 1.875rem !important;
  }
  .pe-xs-auto {
    padding-right: auto !important;
  }
  .pb-xs-0 {
    padding-bottom: 0rem !important;
  }
  .pb-xs-10 {
    padding-bottom: 0.625rem !important;
  }
  .pb-xs-15 {
    padding-bottom: 0.9375rem !important;
  }
  .pb-xs-20 {
    padding-bottom: 1.25rem !important;
  }
  .pb-xs-30 {
    padding-bottom: 1.875rem !important;
  }
  .pb-xs-auto {
    padding-bottom: auto !important;
  }
  .ps-xs-0 {
    padding-left: 0rem !important;
  }
  .ps-xs-10 {
    padding-left: 0.625rem !important;
  }
  .ps-xs-15 {
    padding-left: 0.9375rem !important;
  }
  .ps-xs-20 {
    padding-left: 1.25rem !important;
  }
  .ps-xs-30 {
    padding-left: 1.875rem !important;
  }
  .ps-xs-auto {
    padding-left: auto !important;
  }
  .text-xs-start {
    text-align: left !important;
  }
  .text-xs-end {
    text-align: right !important;
  }
  .text-xs-center {
    text-align: center !important;
  }
}

@media (min-width: 768px) {
  .m-sm-0 {
    margin: 0rem !important;
  }
  .m-sm-10 {
    margin: 0.625rem !important;
  }
  .m-sm-15 {
    margin: 0.9375rem !important;
  }
  .m-sm-20 {
    margin: 1.25rem !important;
  }
  .m-sm-30 {
    margin: 1.875rem !important;
  }
  .m-sm-auto {
    margin: auto !important;
  }
  .mx-sm-0 {
    margin-right: 0rem !important;
    margin-left: 0rem !important;
  }
  .mx-sm-10 {
    margin-right: 0.625rem !important;
    margin-left: 0.625rem !important;
  }
  .mx-sm-15 {
    margin-right: 0.9375rem !important;
    margin-left: 0.9375rem !important;
  }
  .mx-sm-20 {
    margin-right: 1.25rem !important;
    margin-left: 1.25rem !important;
  }
  .mx-sm-30 {
    margin-right: 1.875rem !important;
    margin-left: 1.875rem !important;
  }
  .mx-sm-auto {
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .my-sm-0 {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
  }
  .my-sm-10 {
    margin-top: 0.625rem !important;
    margin-bottom: 0.625rem !important;
  }
  .my-sm-15 {
    margin-top: 0.9375rem !important;
    margin-bottom: 0.9375rem !important;
  }
  .my-sm-20 {
    margin-top: 1.25rem !important;
    margin-bottom: 1.25rem !important;
  }
  .my-sm-30 {
    margin-top: 1.875rem !important;
    margin-bottom: 1.875rem !important;
  }
  .my-sm-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
  .mt-sm-0 {
    margin-top: 0rem !important;
  }
  .mt-sm-10 {
    margin-top: 0.625rem !important;
  }
  .mt-sm-15 {
    margin-top: 0.9375rem !important;
  }
  .mt-sm-20 {
    margin-top: 1.25rem !important;
  }
  .mt-sm-30 {
    margin-top: 1.875rem !important;
  }
  .mt-sm-auto {
    margin-top: auto !important;
  }
  .me-sm-0 {
    margin-right: 0rem !important;
  }
  .me-sm-10 {
    margin-right: 0.625rem !important;
  }
  .me-sm-15 {
    margin-right: 0.9375rem !important;
  }
  .me-sm-20 {
    margin-right: 1.25rem !important;
  }
  .me-sm-30 {
    margin-right: 1.875rem !important;
  }
  .me-sm-auto {
    margin-right: auto !important;
  }
  .mb-sm-0 {
    margin-bottom: 0rem !important;
  }
  .mb-sm-10 {
    margin-bottom: 0.625rem !important;
  }
  .mb-sm-15 {
    margin-bottom: 0.9375rem !important;
  }
  .mb-sm-20 {
    margin-bottom: 1.25rem !important;
  }
  .mb-sm-30 {
    margin-bottom: 1.875rem !important;
  }
  .mb-sm-auto {
    margin-bottom: auto !important;
  }
  .ms-sm-0 {
    margin-left: 0rem !important;
  }
  .ms-sm-10 {
    margin-left: 0.625rem !important;
  }
  .ms-sm-15 {
    margin-left: 0.9375rem !important;
  }
  .ms-sm-20 {
    margin-left: 1.25rem !important;
  }
  .ms-sm-30 {
    margin-left: 1.875rem !important;
  }
  .ms-sm-auto {
    margin-left: auto !important;
  }
  .p-sm-0 {
    padding: 0rem !important;
  }
  .p-sm-10 {
    padding: 0.625rem !important;
  }
  .p-sm-15 {
    padding: 0.9375rem !important;
  }
  .p-sm-20 {
    padding: 1.25rem !important;
  }
  .p-sm-30 {
    padding: 1.875rem !important;
  }
  .p-sm-auto {
    padding: auto !important;
  }
  .px-sm-0 {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }
  .px-sm-10 {
    padding-right: 0.625rem !important;
    padding-left: 0.625rem !important;
  }
  .px-sm-15 {
    padding-right: 0.9375rem !important;
    padding-left: 0.9375rem !important;
  }
  .px-sm-20 {
    padding-right: 1.25rem !important;
    padding-left: 1.25rem !important;
  }
  .px-sm-30 {
    padding-right: 1.875rem !important;
    padding-left: 1.875rem !important;
  }
  .px-sm-auto {
    padding-right: auto !important;
    padding-left: auto !important;
  }
  .py-sm-0 {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }
  .py-sm-10 {
    padding-top: 0.625rem !important;
    padding-bottom: 0.625rem !important;
  }
  .py-sm-15 {
    padding-top: 0.9375rem !important;
    padding-bottom: 0.9375rem !important;
  }
  .py-sm-20 {
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
  }
  .py-sm-30 {
    padding-top: 1.875rem !important;
    padding-bottom: 1.875rem !important;
  }
  .py-sm-auto {
    padding-top: auto !important;
    padding-bottom: auto !important;
  }
  .pt-sm-0 {
    padding-top: 0rem !important;
  }
  .pt-sm-10 {
    padding-top: 0.625rem !important;
  }
  .pt-sm-15 {
    padding-top: 0.9375rem !important;
  }
  .pt-sm-20 {
    padding-top: 1.25rem !important;
  }
  .pt-sm-30 {
    padding-top: 1.875rem !important;
  }
  .pt-sm-auto {
    padding-top: auto !important;
  }
  .pe-sm-0 {
    padding-right: 0rem !important;
  }
  .pe-sm-10 {
    padding-right: 0.625rem !important;
  }
  .pe-sm-15 {
    padding-right: 0.9375rem !important;
  }
  .pe-sm-20 {
    padding-right: 1.25rem !important;
  }
  .pe-sm-30 {
    padding-right: 1.875rem !important;
  }
  .pe-sm-auto {
    padding-right: auto !important;
  }
  .pb-sm-0 {
    padding-bottom: 0rem !important;
  }
  .pb-sm-10 {
    padding-bottom: 0.625rem !important;
  }
  .pb-sm-15 {
    padding-bottom: 0.9375rem !important;
  }
  .pb-sm-20 {
    padding-bottom: 1.25rem !important;
  }
  .pb-sm-30 {
    padding-bottom: 1.875rem !important;
  }
  .pb-sm-auto {
    padding-bottom: auto !important;
  }
  .ps-sm-0 {
    padding-left: 0rem !important;
  }
  .ps-sm-10 {
    padding-left: 0.625rem !important;
  }
  .ps-sm-15 {
    padding-left: 0.9375rem !important;
  }
  .ps-sm-20 {
    padding-left: 1.25rem !important;
  }
  .ps-sm-30 {
    padding-left: 1.875rem !important;
  }
  .ps-sm-auto {
    padding-left: auto !important;
  }
  .text-sm-start {
    text-align: left !important;
  }
  .text-sm-end {
    text-align: right !important;
  }
  .text-sm-center {
    text-align: center !important;
  }
}

@media (min-width: 1024px) {
  .m-md-0 {
    margin: 0rem !important;
  }
  .m-md-10 {
    margin: 0.625rem !important;
  }
  .m-md-15 {
    margin: 0.9375rem !important;
  }
  .m-md-20 {
    margin: 1.25rem !important;
  }
  .m-md-30 {
    margin: 1.875rem !important;
  }
  .m-md-auto {
    margin: auto !important;
  }
  .mx-md-0 {
    margin-right: 0rem !important;
    margin-left: 0rem !important;
  }
  .mx-md-10 {
    margin-right: 0.625rem !important;
    margin-left: 0.625rem !important;
  }
  .mx-md-15 {
    margin-right: 0.9375rem !important;
    margin-left: 0.9375rem !important;
  }
  .mx-md-20 {
    margin-right: 1.25rem !important;
    margin-left: 1.25rem !important;
  }
  .mx-md-30 {
    margin-right: 1.875rem !important;
    margin-left: 1.875rem !important;
  }
  .mx-md-auto {
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .my-md-0 {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
  }
  .my-md-10 {
    margin-top: 0.625rem !important;
    margin-bottom: 0.625rem !important;
  }
  .my-md-15 {
    margin-top: 0.9375rem !important;
    margin-bottom: 0.9375rem !important;
  }
  .my-md-20 {
    margin-top: 1.25rem !important;
    margin-bottom: 1.25rem !important;
  }
  .my-md-30 {
    margin-top: 1.875rem !important;
    margin-bottom: 1.875rem !important;
  }
  .my-md-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
  .mt-md-0 {
    margin-top: 0rem !important;
  }
  .mt-md-10 {
    margin-top: 0.625rem !important;
  }
  .mt-md-15 {
    margin-top: 0.9375rem !important;
  }
  .mt-md-20 {
    margin-top: 1.25rem !important;
  }
  .mt-md-30 {
    margin-top: 1.875rem !important;
  }
  .mt-md-auto {
    margin-top: auto !important;
  }
  .me-md-0 {
    margin-right: 0rem !important;
  }
  .me-md-10 {
    margin-right: 0.625rem !important;
  }
  .me-md-15 {
    margin-right: 0.9375rem !important;
  }
  .me-md-20 {
    margin-right: 1.25rem !important;
  }
  .me-md-30 {
    margin-right: 1.875rem !important;
  }
  .me-md-auto {
    margin-right: auto !important;
  }
  .mb-md-0 {
    margin-bottom: 0rem !important;
  }
  .mb-md-10 {
    margin-bottom: 0.625rem !important;
  }
  .mb-md-15 {
    margin-bottom: 0.9375rem !important;
  }
  .mb-md-20 {
    margin-bottom: 1.25rem !important;
  }
  .mb-md-30 {
    margin-bottom: 1.875rem !important;
  }
  .mb-md-auto {
    margin-bottom: auto !important;
  }
  .ms-md-0 {
    margin-left: 0rem !important;
  }
  .ms-md-10 {
    margin-left: 0.625rem !important;
  }
  .ms-md-15 {
    margin-left: 0.9375rem !important;
  }
  .ms-md-20 {
    margin-left: 1.25rem !important;
  }
  .ms-md-30 {
    margin-left: 1.875rem !important;
  }
  .ms-md-auto {
    margin-left: auto !important;
  }
  .p-md-0 {
    padding: 0rem !important;
  }
  .p-md-10 {
    padding: 0.625rem !important;
  }
  .p-md-15 {
    padding: 0.9375rem !important;
  }
  .p-md-20 {
    padding: 1.25rem !important;
  }
  .p-md-30 {
    padding: 1.875rem !important;
  }
  .p-md-auto {
    padding: auto !important;
  }
  .px-md-0 {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }
  .px-md-10 {
    padding-right: 0.625rem !important;
    padding-left: 0.625rem !important;
  }
  .px-md-15 {
    padding-right: 0.9375rem !important;
    padding-left: 0.9375rem !important;
  }
  .px-md-20 {
    padding-right: 1.25rem !important;
    padding-left: 1.25rem !important;
  }
  .px-md-30 {
    padding-right: 1.875rem !important;
    padding-left: 1.875rem !important;
  }
  .px-md-auto {
    padding-right: auto !important;
    padding-left: auto !important;
  }
  .py-md-0 {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }
  .py-md-10 {
    padding-top: 0.625rem !important;
    padding-bottom: 0.625rem !important;
  }
  .py-md-15 {
    padding-top: 0.9375rem !important;
    padding-bottom: 0.9375rem !important;
  }
  .py-md-20 {
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
  }
  .py-md-30 {
    padding-top: 1.875rem !important;
    padding-bottom: 1.875rem !important;
  }
  .py-md-auto {
    padding-top: auto !important;
    padding-bottom: auto !important;
  }
  .pt-md-0 {
    padding-top: 0rem !important;
  }
  .pt-md-10 {
    padding-top: 0.625rem !important;
  }
  .pt-md-15 {
    padding-top: 0.9375rem !important;
  }
  .pt-md-20 {
    padding-top: 1.25rem !important;
  }
  .pt-md-30 {
    padding-top: 1.875rem !important;
  }
  .pt-md-auto {
    padding-top: auto !important;
  }
  .pe-md-0 {
    padding-right: 0rem !important;
  }
  .pe-md-10 {
    padding-right: 0.625rem !important;
  }
  .pe-md-15 {
    padding-right: 0.9375rem !important;
  }
  .pe-md-20 {
    padding-right: 1.25rem !important;
  }
  .pe-md-30 {
    padding-right: 1.875rem !important;
  }
  .pe-md-auto {
    padding-right: auto !important;
  }
  .pb-md-0 {
    padding-bottom: 0rem !important;
  }
  .pb-md-10 {
    padding-bottom: 0.625rem !important;
  }
  .pb-md-15 {
    padding-bottom: 0.9375rem !important;
  }
  .pb-md-20 {
    padding-bottom: 1.25rem !important;
  }
  .pb-md-30 {
    padding-bottom: 1.875rem !important;
  }
  .pb-md-auto {
    padding-bottom: auto !important;
  }
  .ps-md-0 {
    padding-left: 0rem !important;
  }
  .ps-md-10 {
    padding-left: 0.625rem !important;
  }
  .ps-md-15 {
    padding-left: 0.9375rem !important;
  }
  .ps-md-20 {
    padding-left: 1.25rem !important;
  }
  .ps-md-30 {
    padding-left: 1.875rem !important;
  }
  .ps-md-auto {
    padding-left: auto !important;
  }
  .text-md-start {
    text-align: left !important;
  }
  .text-md-end {
    text-align: right !important;
  }
  .text-md-center {
    text-align: center !important;
  }
}

@media (min-width: 1280px) {
  .m-lg-0 {
    margin: 0rem !important;
  }
  .m-lg-10 {
    margin: 0.625rem !important;
  }
  .m-lg-15 {
    margin: 0.9375rem !important;
  }
  .m-lg-20 {
    margin: 1.25rem !important;
  }
  .m-lg-30 {
    margin: 1.875rem !important;
  }
  .m-lg-auto {
    margin: auto !important;
  }
  .mx-lg-0 {
    margin-right: 0rem !important;
    margin-left: 0rem !important;
  }
  .mx-lg-10 {
    margin-right: 0.625rem !important;
    margin-left: 0.625rem !important;
  }
  .mx-lg-15 {
    margin-right: 0.9375rem !important;
    margin-left: 0.9375rem !important;
  }
  .mx-lg-20 {
    margin-right: 1.25rem !important;
    margin-left: 1.25rem !important;
  }
  .mx-lg-30 {
    margin-right: 1.875rem !important;
    margin-left: 1.875rem !important;
  }
  .mx-lg-auto {
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .my-lg-0 {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
  }
  .my-lg-10 {
    margin-top: 0.625rem !important;
    margin-bottom: 0.625rem !important;
  }
  .my-lg-15 {
    margin-top: 0.9375rem !important;
    margin-bottom: 0.9375rem !important;
  }
  .my-lg-20 {
    margin-top: 1.25rem !important;
    margin-bottom: 1.25rem !important;
  }
  .my-lg-30 {
    margin-top: 1.875rem !important;
    margin-bottom: 1.875rem !important;
  }
  .my-lg-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
  .mt-lg-0 {
    margin-top: 0rem !important;
  }
  .mt-lg-10 {
    margin-top: 0.625rem !important;
  }
  .mt-lg-15 {
    margin-top: 0.9375rem !important;
  }
  .mt-lg-20 {
    margin-top: 1.25rem !important;
  }
  .mt-lg-30 {
    margin-top: 1.875rem !important;
  }
  .mt-lg-auto {
    margin-top: auto !important;
  }
  .me-lg-0 {
    margin-right: 0rem !important;
  }
  .me-lg-10 {
    margin-right: 0.625rem !important;
  }
  .me-lg-15 {
    margin-right: 0.9375rem !important;
  }
  .me-lg-20 {
    margin-right: 1.25rem !important;
  }
  .me-lg-30 {
    margin-right: 1.875rem !important;
  }
  .me-lg-auto {
    margin-right: auto !important;
  }
  .mb-lg-0 {
    margin-bottom: 0rem !important;
  }
  .mb-lg-10 {
    margin-bottom: 0.625rem !important;
  }
  .mb-lg-15 {
    margin-bottom: 0.9375rem !important;
  }
  .mb-lg-20 {
    margin-bottom: 1.25rem !important;
  }
  .mb-lg-30 {
    margin-bottom: 1.875rem !important;
  }
  .mb-lg-auto {
    margin-bottom: auto !important;
  }
  .ms-lg-0 {
    margin-left: 0rem !important;
  }
  .ms-lg-10 {
    margin-left: 0.625rem !important;
  }
  .ms-lg-15 {
    margin-left: 0.9375rem !important;
  }
  .ms-lg-20 {
    margin-left: 1.25rem !important;
  }
  .ms-lg-30 {
    margin-left: 1.875rem !important;
  }
  .ms-lg-auto {
    margin-left: auto !important;
  }
  .p-lg-0 {
    padding: 0rem !important;
  }
  .p-lg-10 {
    padding: 0.625rem !important;
  }
  .p-lg-15 {
    padding: 0.9375rem !important;
  }
  .p-lg-20 {
    padding: 1.25rem !important;
  }
  .p-lg-30 {
    padding: 1.875rem !important;
  }
  .p-lg-auto {
    padding: auto !important;
  }
  .px-lg-0 {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }
  .px-lg-10 {
    padding-right: 0.625rem !important;
    padding-left: 0.625rem !important;
  }
  .px-lg-15 {
    padding-right: 0.9375rem !important;
    padding-left: 0.9375rem !important;
  }
  .px-lg-20 {
    padding-right: 1.25rem !important;
    padding-left: 1.25rem !important;
  }
  .px-lg-30 {
    padding-right: 1.875rem !important;
    padding-left: 1.875rem !important;
  }
  .px-lg-auto {
    padding-right: auto !important;
    padding-left: auto !important;
  }
  .py-lg-0 {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }
  .py-lg-10 {
    padding-top: 0.625rem !important;
    padding-bottom: 0.625rem !important;
  }
  .py-lg-15 {
    padding-top: 0.9375rem !important;
    padding-bottom: 0.9375rem !important;
  }
  .py-lg-20 {
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
  }
  .py-lg-30 {
    padding-top: 1.875rem !important;
    padding-bottom: 1.875rem !important;
  }
  .py-lg-auto {
    padding-top: auto !important;
    padding-bottom: auto !important;
  }
  .pt-lg-0 {
    padding-top: 0rem !important;
  }
  .pt-lg-10 {
    padding-top: 0.625rem !important;
  }
  .pt-lg-15 {
    padding-top: 0.9375rem !important;
  }
  .pt-lg-20 {
    padding-top: 1.25rem !important;
  }
  .pt-lg-30 {
    padding-top: 1.875rem !important;
  }
  .pt-lg-auto {
    padding-top: auto !important;
  }
  .pe-lg-0 {
    padding-right: 0rem !important;
  }
  .pe-lg-10 {
    padding-right: 0.625rem !important;
  }
  .pe-lg-15 {
    padding-right: 0.9375rem !important;
  }
  .pe-lg-20 {
    padding-right: 1.25rem !important;
  }
  .pe-lg-30 {
    padding-right: 1.875rem !important;
  }
  .pe-lg-auto {
    padding-right: auto !important;
  }
  .pb-lg-0 {
    padding-bottom: 0rem !important;
  }
  .pb-lg-10 {
    padding-bottom: 0.625rem !important;
  }
  .pb-lg-15 {
    padding-bottom: 0.9375rem !important;
  }
  .pb-lg-20 {
    padding-bottom: 1.25rem !important;
  }
  .pb-lg-30 {
    padding-bottom: 1.875rem !important;
  }
  .pb-lg-auto {
    padding-bottom: auto !important;
  }
  .ps-lg-0 {
    padding-left: 0rem !important;
  }
  .ps-lg-10 {
    padding-left: 0.625rem !important;
  }
  .ps-lg-15 {
    padding-left: 0.9375rem !important;
  }
  .ps-lg-20 {
    padding-left: 1.25rem !important;
  }
  .ps-lg-30 {
    padding-left: 1.875rem !important;
  }
  .ps-lg-auto {
    padding-left: auto !important;
  }
  .text-lg-start {
    text-align: left !important;
  }
  .text-lg-end {
    text-align: right !important;
  }
  .text-lg-center {
    text-align: center !important;
  }
}

@media (min-width: 1440px) {
  .m-xl-0 {
    margin: 0rem !important;
  }
  .m-xl-10 {
    margin: 0.625rem !important;
  }
  .m-xl-15 {
    margin: 0.9375rem !important;
  }
  .m-xl-20 {
    margin: 1.25rem !important;
  }
  .m-xl-30 {
    margin: 1.875rem !important;
  }
  .m-xl-auto {
    margin: auto !important;
  }
  .mx-xl-0 {
    margin-right: 0rem !important;
    margin-left: 0rem !important;
  }
  .mx-xl-10 {
    margin-right: 0.625rem !important;
    margin-left: 0.625rem !important;
  }
  .mx-xl-15 {
    margin-right: 0.9375rem !important;
    margin-left: 0.9375rem !important;
  }
  .mx-xl-20 {
    margin-right: 1.25rem !important;
    margin-left: 1.25rem !important;
  }
  .mx-xl-30 {
    margin-right: 1.875rem !important;
    margin-left: 1.875rem !important;
  }
  .mx-xl-auto {
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .my-xl-0 {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
  }
  .my-xl-10 {
    margin-top: 0.625rem !important;
    margin-bottom: 0.625rem !important;
  }
  .my-xl-15 {
    margin-top: 0.9375rem !important;
    margin-bottom: 0.9375rem !important;
  }
  .my-xl-20 {
    margin-top: 1.25rem !important;
    margin-bottom: 1.25rem !important;
  }
  .my-xl-30 {
    margin-top: 1.875rem !important;
    margin-bottom: 1.875rem !important;
  }
  .my-xl-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
  .mt-xl-0 {
    margin-top: 0rem !important;
  }
  .mt-xl-10 {
    margin-top: 0.625rem !important;
  }
  .mt-xl-15 {
    margin-top: 0.9375rem !important;
  }
  .mt-xl-20 {
    margin-top: 1.25rem !important;
  }
  .mt-xl-30 {
    margin-top: 1.875rem !important;
  }
  .mt-xl-auto {
    margin-top: auto !important;
  }
  .me-xl-0 {
    margin-right: 0rem !important;
  }
  .me-xl-10 {
    margin-right: 0.625rem !important;
  }
  .me-xl-15 {
    margin-right: 0.9375rem !important;
  }
  .me-xl-20 {
    margin-right: 1.25rem !important;
  }
  .me-xl-30 {
    margin-right: 1.875rem !important;
  }
  .me-xl-auto {
    margin-right: auto !important;
  }
  .mb-xl-0 {
    margin-bottom: 0rem !important;
  }
  .mb-xl-10 {
    margin-bottom: 0.625rem !important;
  }
  .mb-xl-15 {
    margin-bottom: 0.9375rem !important;
  }
  .mb-xl-20 {
    margin-bottom: 1.25rem !important;
  }
  .mb-xl-30 {
    margin-bottom: 1.875rem !important;
  }
  .mb-xl-auto {
    margin-bottom: auto !important;
  }
  .ms-xl-0 {
    margin-left: 0rem !important;
  }
  .ms-xl-10 {
    margin-left: 0.625rem !important;
  }
  .ms-xl-15 {
    margin-left: 0.9375rem !important;
  }
  .ms-xl-20 {
    margin-left: 1.25rem !important;
  }
  .ms-xl-30 {
    margin-left: 1.875rem !important;
  }
  .ms-xl-auto {
    margin-left: auto !important;
  }
  .p-xl-0 {
    padding: 0rem !important;
  }
  .p-xl-10 {
    padding: 0.625rem !important;
  }
  .p-xl-15 {
    padding: 0.9375rem !important;
  }
  .p-xl-20 {
    padding: 1.25rem !important;
  }
  .p-xl-30 {
    padding: 1.875rem !important;
  }
  .p-xl-auto {
    padding: auto !important;
  }
  .px-xl-0 {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }
  .px-xl-10 {
    padding-right: 0.625rem !important;
    padding-left: 0.625rem !important;
  }
  .px-xl-15 {
    padding-right: 0.9375rem !important;
    padding-left: 0.9375rem !important;
  }
  .px-xl-20 {
    padding-right: 1.25rem !important;
    padding-left: 1.25rem !important;
  }
  .px-xl-30 {
    padding-right: 1.875rem !important;
    padding-left: 1.875rem !important;
  }
  .px-xl-auto {
    padding-right: auto !important;
    padding-left: auto !important;
  }
  .py-xl-0 {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }
  .py-xl-10 {
    padding-top: 0.625rem !important;
    padding-bottom: 0.625rem !important;
  }
  .py-xl-15 {
    padding-top: 0.9375rem !important;
    padding-bottom: 0.9375rem !important;
  }
  .py-xl-20 {
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
  }
  .py-xl-30 {
    padding-top: 1.875rem !important;
    padding-bottom: 1.875rem !important;
  }
  .py-xl-auto {
    padding-top: auto !important;
    padding-bottom: auto !important;
  }
  .pt-xl-0 {
    padding-top: 0rem !important;
  }
  .pt-xl-10 {
    padding-top: 0.625rem !important;
  }
  .pt-xl-15 {
    padding-top: 0.9375rem !important;
  }
  .pt-xl-20 {
    padding-top: 1.25rem !important;
  }
  .pt-xl-30 {
    padding-top: 1.875rem !important;
  }
  .pt-xl-auto {
    padding-top: auto !important;
  }
  .pe-xl-0 {
    padding-right: 0rem !important;
  }
  .pe-xl-10 {
    padding-right: 0.625rem !important;
  }
  .pe-xl-15 {
    padding-right: 0.9375rem !important;
  }
  .pe-xl-20 {
    padding-right: 1.25rem !important;
  }
  .pe-xl-30 {
    padding-right: 1.875rem !important;
  }
  .pe-xl-auto {
    padding-right: auto !important;
  }
  .pb-xl-0 {
    padding-bottom: 0rem !important;
  }
  .pb-xl-10 {
    padding-bottom: 0.625rem !important;
  }
  .pb-xl-15 {
    padding-bottom: 0.9375rem !important;
  }
  .pb-xl-20 {
    padding-bottom: 1.25rem !important;
  }
  .pb-xl-30 {
    padding-bottom: 1.875rem !important;
  }
  .pb-xl-auto {
    padding-bottom: auto !important;
  }
  .ps-xl-0 {
    padding-left: 0rem !important;
  }
  .ps-xl-10 {
    padding-left: 0.625rem !important;
  }
  .ps-xl-15 {
    padding-left: 0.9375rem !important;
  }
  .ps-xl-20 {
    padding-left: 1.25rem !important;
  }
  .ps-xl-30 {
    padding-left: 1.875rem !important;
  }
  .ps-xl-auto {
    padding-left: auto !important;
  }
  .text-xl-start {
    text-align: left !important;
  }
  .text-xl-end {
    text-align: right !important;
  }
  .text-xl-center {
    text-align: center !important;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main > .container {
  position: relative;
}

main > .container::before {
  content: "";
  display: block;
  position: absolute;
  right: 100%;
  width: 50%;
  height: 100%;
  background-color: #fafafa;
}

main > .container > .row {
  min-height: 100%;
}

@media (min-width: 1024px) {
  main > .container > .row > article > section {
    padding-left: 100px;
  }
}

main > .container > .row > article > section:first-child {
  padding-top: 40px;
  padding-bottom: 40px;
}

aside {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  background-color: #fafafa;
}

aside ul {
  margin: 0;
  list-style: none;
}

aside ul.ul--slide > li > a,
aside ul.ul--slide > li > span {
  cursor: pointer;
}

aside ul.ul--slide > li > a::before,
aside ul.ul--slide > li > span::before {
  content: "";
  display: block;
  margin-right: 10px;
  font-family: "cw_icon";
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: scale(0.784);
          transform: scale(0.784);
}

aside ul.ul--slide > li.opened > a::before,
aside ul.ul--slide > li.opened > span::before {
  -webkit-transform: scale(0.784) rotate(90deg);
          transform: scale(0.784) rotate(90deg);
}

aside ul.ul--slide > li.opened > ul {
  display: block;
}

aside > ul {
  padding-left: 0;
  width: 100%;
}

@media (min-width: 1024px) {
  aside > ul {
    max-width: 250px;
  }
}

aside > ul ul {
  display: none;
  width: 100%;
}

aside > ul a, aside > ul span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px 10px;
  color: #171717;
  font-size: 0.875rem;
}

aside > ul a:hover, aside > ul span:hover {
  background-color: #EEEEEE;
}

aside > ul a.active, aside > ul span.active {
  color: #D60C18;
}
/*# sourceMappingURL=system.css.map */