.pagination {
    @include list(0, 0, none);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	li {
		margin-left: 5px;
		margin-right: 5px;
		line-height: 28px;
		width: 30px;
		text-align: center;
		&.active {
			color: $white;
			background-color: $primary;
			border-color: $primary;
		}
	}
	a {
		display: block;
		color: $text;
		border: 1px solid $gray-100;
		&:hover {
			color: $primary;
		}
	}
}
