.label--radio {
    @extend %selection;
    span {
        &.label__radio__txt {
            width: calc(100% - 20px - .5em);
            padding-left: 0.5em;
            font-size: 1rem;
        }
        &.label__radio__helper {
            display: block;
            padding-top: 5px;
            padding-left: calc(20px + 0.575rem);
            color: $secondary;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.25;
        }
        &.label__radio__mark {
            position: relative;
            top: calc((1.25rem - 20px) / 2);
            left: 0;
            width: 20px;
            height: 20px;
            background-color: transparent;
            border: 2px solid $gray-500;
            border-radius: 50%;
            &::before {
                @include beforeafter('', block);
                position: absolute;
                top: 50%;
                left: 50%;
                width: 0;
                height: 0;
                background: $red-100;
                border-radius: 50%;
                transform: translate(-50%, -50%);
                opacity: 1;
                transition: all 0.3s;
                z-index: -1;
            }
            &::after {
                content: "";
                position: absolute;
                display: none;
                top: 50%;
                left: 50%;
                width: 10px;
                height: 10px;
                background: $primary;
                border-radius: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    input[type="radio"] {
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;
        cursor: pointer;
        &:checked {
            ~span.label__radio__mark {
                border-color: $primary;
                &::after {
                    display: block;
                }
            }
            &[disabled] {
                ~span.label__radio__mark {
                    border-color: $gray-200;
                    &::after {
                        background-color: $gray-200;
                    }
                }
            }
        }
        &[disabled] {
            ~span.label__radio__mark {
                border-color: $gray-200;
                &::before {
                    display: none;
                }
            }
        }
    }
    &:hover,
    &.active {
        input[type="radio"] {
            ~span.label__radio__mark {
                border-color: $primary;
            }
            &:checked {
                ~span.label__radio__mark {
                    &::before {
                        width: 36px;
                        height: 36px;
                        opacity: 1;
                    }
                }
            }
            &[disabled] {
                ~span.label__radio__mark {
                    border-color: $gray-200;
                }
            }
        }
    }
}
