input,
select {
    border-radius: 0;
    appearance: none;
    &::-ms-expand {
        display: none;
    }
    &:focus {
        outline: 0;
    }
}

input[type*='number']::-webkit-inner-spin-button,
input[type*='number']::-webkit-outer-spin-button {
    opacity: 0;
}
